body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid #333;
    position: relative;
}

.hour,
.minute,
.second {
    position: absolute;
    background: #333;
    transform-origin: bottom;
}

.hour {
    width: 6px;
    height: 80px;
    top: 70px;
    left: 147px;
}

.minute {
    width: 4px;
    height: 120px;
    top: 30px;
    left: 148px;
}

.second {
    width: 2px;
    height: 140px;
    top: 10px;
    left: 149px;
    background: red;
}